@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &:after, &:before {
    box-sizing: border-box;
  }
}

html {
  line-height: 1.2;
}

body {
  background-color: #f5f5f5;
  color: #333;
  font-family: "Roboto", arial, sans-serif;
  font-size: 16px;
}

/* dropdown list */

.dropdown {
  margin: 20px auto;
  width: 100%;
  position: relative;
  -webkit-perspective: 800px;
  perspective: 800px;
  &.active {
    .selLabel:after {
      content: '\25B2';
    }
    .dropdown-list li {
      &:nth-child(1) {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
      }
      &:nth-child(2) {
        -webkit-transform: translateY(200%);
        transform: translateY(200%);
      }
      &:nth-child(3) {
        -webkit-transform: translateY(300%);
        transform: translateY(300%);
      }
      &:nth-child(4) {
        -webkit-transform: translateY(400%);
        transform: translateY(400%);
      }
    }
  }
  > span {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    background: #34495e;
    display: block;
    padding: 0 50px 0 30px;
    position: relative;
    z-index: 9999;
    cursor: pointer;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transition: -webkit-transform 300ms;
    transition: -webkit-transform 300ms;
    transition: transform 300ms;
    transition: transform 300ms, -webkit-transform 300ms;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:after {
      content: '\25BC';
      position: absolute;
      right: 0px;
      top: 15%;
      width: 50px;
      text-align: center;
      font-size: 12px;
      padding: 10px;
      height: 70%;
      line-height: 24px;
      border-left: 1px solid #ddd;
    }
    &:active {
      -webkit-transform: rotateX(45deg);
      transform: rotateX(45deg);
      &:after {
        content: '\25B2';
      }
    }
  }
}

.dropdown-list {
  position: absolute;
  top: 0px;
  width: 100%;
  li {
    display: block;
    list-style: none;
    left: 0;
    opacity: 1;
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: white;
    color: black;
    z-index: 4;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    span {
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      -webkit-backface-visibility: hidden;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      width: 100%;
      font-size: 18px;
      line-height: 60px;
      padding: 0 30px;
      display: block;
      color: #black;
      cursor: pointer;
      letter-spacing: 2px;
    }
  }
}